
<title>{{$.Data.Title}}</title>
<meta name="keywords" content="{{$.Data.Title}}" />
<meta name="description" content="{{$.Data.Title}}" />


{{template "home/nihongdengxia/header.html" .}}
	
			
<div id="wrap" class="container clearfix">
		
	<section id="content" class="primary" role="main">
		
		<article id="post-24567" class="post-24567 post type-post status-publish format-standard hentry category-feizhuliuyinyue category-qingyinyue tag-alborada-del-inka tag-3152 tag-2574">
	
		<h2 class="post-title entry-title">{{$.Data.Title}}</h2>
		
		<div class="postmeta">	
			<span class="meta-date">
				<a href="https://www.mtyyw.com/24567/" title="6:26 下午" rel="bookmark">
					<time class="entry-date published updated" datetime="{{dateformat $.Data.Created "2006-01-02 15:04:05"}}">{{dateformat $.Data.Created "2006-01-02"}}</time>
				</a>
			</span>
			<span class="meta-author sep">
				<span class="author vcard">
					<a class="fn" href="https://www.mtyyw.com/author/admin/" title="View all posts by 林中有鬼" rel="author">{{$.Data.User.Name}}</a>
				</span>
			</span>
			
				
			<span class="meta-comments sep">
				<a href="https://www.mtyyw.com/24567/#respond">评论</a>
			</span>
			<span class="meta-comments sep">
				{{$.Data.Review}}次
			</span>	
		</div>
		
				
		<div class="entry clearfix">
			{{str2html $.Data.Html}}	
		</div>	
		<div class="postinfo clearfix">
			<span class="meta-tags">
				标签： 
				<a href="javascript:;" rel="tag">{{$.Data.Tag}}</a>

			</span>
	
			<span class="meta-category">
				<ul class="post-categories">
					<li><a href="javascript:;" rel="category tag">{{$.Data.Category.Name}}</a></li>
				</ul>
			</span>

		</div>
	</article>			
		
	<div id="comments">
	
		
	<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">
			发表评论 
			<small>
				<a rel="nofollow" id="cancel-comment-reply-link" href="/24567/#respond" style="display:none;">取消回复</a>
			</small>
		</h3>
		
		<form action="https://www.mtyyw.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
			<p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注</p>
			<p class="comment-form-comment">
				<label for="comment">评论</label>
				<textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
			</p>
			<p class="comment-form-author">
				<label for="author">姓名 <span class="required">*</span></label>
				<input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
			</p>
			<p class="comment-form-email">
				<label for="email">电子邮件 <span class="required">*</span></label>
				<input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
			</p>
			<p class="form-submit">
				<input name="submit" type="submit" id="submit" class="submit" value="发表评论" />
				<input type='hidden' name='comment_post_ID' value='24567' id='comment_post_ID' />
				<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
			</p>
			<p style="display: none;">
				<input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="086480282b" />
			</p>
			<p style="display: none;">
				<input type="hidden" id="ak_js" name="ak_js" value="73"/>
			</p>
		</form>
	</div><!-- #respond -->
			
	</div>

		
	</section>

	<section id="sidebar" class="secondary clearfix" role="complementary">
		{{/*<!--
		<aside id="nav_menu-6" class="widget widget_nav_menu clearfix">
			<h3 class="widgettitle"><span>推荐</span></h3>
			<div class="menu-%e9%9f%b3%e4%b9%90%e6%8e%a8%e8%8d%90-container">
				<ul id="menu-%e9%9f%b3%e4%b9%90%e6%8e%a8%e8%8d%90" class="menu">
					{{range $key ,$vlaue := $.Data}}
						{{if eq $vlaue.Recommend 1}}
						<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/detail/{{$vlaue.Id}}.html">{{$vlaue.Title}}</a></li>
						{{end}}
					{{end}}
				</ul>
			</div>
		</aside>
		-->*/}}
		<aside id="search-8" class="widget widget_search clearfix">
			<h3 class="widgettitle"><span>搜索</span></h3>
			<form role="search" method="get" class="search-form" action="/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s">
				</label>
				<button type="submit" class="search-submit">
					<span class="genericon-search"></span>
				</button>
			</form>
		</aside>
		<aside id="text-8" class="widget widget_text clearfix">
			<h3 class="widgettitle"><span>梵高的向日葵T恤</span></h3>
			<div class="textwidget">
				<a href="https://www.mtyyw.com/24106/" rel="nofollow noopener noreferrer" target="_blank">
					<img src="/static/nihongdengxia/picture/xiangrikui-2020.jpg" alt="广告" width="400" height="400" class="alignnone size-full wp-image-11045" />
				</a>
			</div>
		</aside>
		<aside id="recent-posts-4" class="widget widget_recent_entries clearfix">
			<h3 class="widgettitle"><span>热门文章</span></h3>
			<ul>
				{{range $k,$v := $.ArticlesReadSort}}
                     <li>
                        <a title="{{$v.Title}}" href="/detail/{{$v.Id}}.html">
                            {{IndexForOne $k 1 1}}. {{$v.Title}}({{$v.Pv}})
                        </a>
                    </li>
                {{end}}	
			</ul>
		</aside>
	</section>
</div>
{{template "home/nihongdengxia/footer.html" .}}