<!DOCTYPE html><!-- HTML 5 -->
<html lang="zh-CN">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="applicable-device"content="pc,mobile">
<link rel="canonical" href="https://www.mtyyw.com/24567/" /><link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="https://www.mtyyw.com/xmlrpc.php" />
<title>从我们身上脱落的，都交给秋风吧 - 麦田音乐网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel='stylesheet' id='wp-block-library-css'  href='static/css/style.min.css' type='text/css' media='all' />
<link data-minify="1" rel='stylesheet' id='dynamicnewslite-stylesheet-css'  href='static/css/style-e1f456c34f34daf8d9582656cde66902.css' type='text/css' media='all' />
<link data-minify="1" rel='stylesheet' id='dynamicnewslite-genericons-css'  href='static/css/genericons-8fb4281c67ecd65852d1930d1baaf0f5.css' type='text/css' media='all' />
<link data-minify="1" rel='stylesheet' id='dynamicnews-pro-stylesheet-css'  href='static/css/dynamicnews-pro-e579959e1fa641dd3f93ad5452e0311c.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/jquery-1.12.4-wp.js'></script>
<script data-minify="1" type='text/javascript' src='static/js/navigation-3e52845de3123627a861a72f1e2f74cf.js' defer></script>
<link rel='prev' title='无论你多么爱她，人是会渐渐忘却那久未见面的面孔的' href='https://www.mtyyw.com/24586/' />
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.min.js" type="text/javascript"></script>
	<![endif]-->
	
<style type="text/css">
			#logo a:hover .site-title {
				color: #5ca05f;
			}
			#navi-wrap, .social-icons-menu li a:hover, #topnav-toggle:hover, #topnav-menu a:hover, #topnav-menu ul, 
			.sidebar-closing-toggle:hover, .sidebar-closing-toggle:active, .sidebar-closing-toggle:focus {
				background-color: #5ca05f;
			}
			@media only screen and (min-width: 55em) {
				#topnav-menu li.menu-item:hover a {
					background-color: #5ca05f;
				}
			}
			@media only screen and (max-width: 55em) {
				#topnav-menu, #topnav-menu a {
					background: #5ca05f;
				}
				#topnav-menu a:hover {
					background: rgba(255,255,255,0.075);
				}
			}
			
			#logo .site-title {
				color: #519352;
			}
			#topnavi-wrap, #mainnav-menu a:hover, #mainnav-menu ul a:hover, #mainnav-icon:hover, #mainnav-toggle:hover, 
			#mainnav-menu .submenu-dropdown-toggle:hover, .social-icons-menu li a, 
			.sidebar-navigation-toggle:hover, .sidebar-navigation-toggle:active, .sidebar-navigation-toggle:focus, .sidebar-closing-toggle {
				background-color:  #519352;
			}
			a, a:link, a:visited, .comment a:link, .comment a:visited, .archive-title span, 
			.post-title a:hover, .post-title a:active, .post-pagination a:hover, .post-pagination a:active, .post-pagination .current {
				color: #5ca05f;
			} 
			.postinfo .meta-category a:hover, .postinfo .meta-category a:active,
			.bypostauthor .fn, .comment-author-admin .fn, input[type="submit"], .more-link, #commentform #submit {
				background-color:  #5ca05f;
			}
			#sidebar .widgettitle, #sidebar .widget-tabnav li a:hover, #frontpage-magazine-widgets .widget .widgettitle {
				background: #bcbcbc;
			}
			.tzwb-tabbed-content .tzwb-tabnavi li a:hover, .tzwb-tabbed-content .tzwb-tabnavi li a:active {
				background: #bcbcbc !important;
			}
			
			#sidebar .widget a:link, #sidebar .widget a:visited {
				color: #5ca05f;
			}
			.widget-tabnav li a, .widget-tabnav li a:link, .widget-tabnav li a:visited,
			.tzwb-tabbed-content .tzwb-tabnavi li a:link, .tzwb-tabbed-content .tzwb-tabnavi li a:visited {
				color: #fff !important;
				background: #5ca05f;
			}
			.tzwb-tabbed-content .tzwb-tabnavi li a:hover, .tzwb-tabbed-content .tzwb-tabnavi li a:active {
				background: #333;
			}
			
			#frontpage-slider-wrap:hover .frontpage-slider-controls a:hover, .frontpage-slider-controls .zeeflex-control-paging li a.zeeflex-active {
				background-color:  #d68742;
			}
			#frontpage-slider .zeeslide .slide-entry {
				border-top: 10px solid #d68742;
			}</style><style type="text/css">
				@media only screen and (max-width: 60em) {
					#header-content { padding-top: 0; }
				}
				#header { padding: 0; }
		</style>		<style type="text/css" id="wp-custom-css">
			/*
您可以在此处加入您的CSS。

点击上方的帮助图标来了解更多。
*/		</style>
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cf90d3025434cd8f3c4626671aab3a68";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script data-minify="1" type='text/javascript' src='static/js/faq-toggle-eda8f660cf62064d6a9cbc1f7dc6978a.js' defer></script>
</head>

<body class="post-template-default single single-post postid-24567 single-format-standard">


<div id="wrapper" class="hfeed">
	
	<div id="header-wrap">
	
		<header id="header" class="container clearfix" role="banner">

			<div id="logo" class="clearfix">
			
				
	<a href="https://www.mtyyw.com/" title="麦田音乐网" rel="home">
				
				<img class="site-logo" src="static/picture/logo-mtyyw.jpg" alt="麦田音乐网" />
		
	</a>

				
							
			</div>
			
			<div id="header-content" class="clearfix">
							</div>

		</header>
	
	</div>
	
	<div id="navi-wrap">
		<nav id="mainnav" class="container clearfix" role="navigation">
			<h4 id="mainnav-icon">Menu</h4>
			<ul id="mainnav-menu" class="menu"><li id="menu-item-10887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-10887"><a href="https://www.mtyyw.com/">首页</a></li>
<li id="menu-item-10889" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10889"><a href="https://www.mtyyw.com/gedan/">歌单</a></li>
<li id="menu-item-10890" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10890"><a href="https://www.mtyyw.com/fm/">电台</a></li>
<li id="menu-item-13211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13211"><a href="https://www.mtyyw.com/tag/indie-pop/">独立</a></li>
<li id="menu-item-11037" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11037"><a href="https://www.mtyyw.com/tag/minyao/">民谣</a></li>
<li id="menu-item-11038" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11038"><a href="https://www.mtyyw.com/tag/rock/">摇滚</a></li>
<li id="menu-item-17496" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17496"><a href="https://www.mtyyw.com/tag/jueshi/">爵士</a></li>
<li id="menu-item-11035" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-11035"><a href="https://www.mtyyw.com/qingyinyue/">轻音乐</a></li>
<li id="menu-item-11027" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11027"><a href="https://www.mtyyw.com/tag/maiyouji/">麦游记</a></li>
<li id="menu-item-10888" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10888"><a href="https://www.mtyyw.com/guestbook/">留言本</a></li>
<li id="menu-item-11036" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11036"><a href="https://mtyyw.taobao.com">淘宝店</a></li>
</ul>		</nav>
	</div>
	
			
	<div id="wrap" class="container clearfix">
		
		<section id="content" class="primary" role="main">
		
			<article id="post-24567" class="post-24567 post type-post status-publish format-standard hentry category-feizhuliuyinyue category-qingyinyue tag-alborada-del-inka tag-3152 tag-2574">
	
		<h2 class="post-title entry-title">从我们身上脱落的，都交给秋风吧</h2>
		
		<div class="postmeta">	
		<span class="meta-date">

<a href="https://www.mtyyw.com/24567/" title="6:26 下午" rel="bookmark"><time class="entry-date published updated" datetime="2020-10-29T18:26:20+08:00">2020-10-29</time></a>		</span>

		<span class="meta-author sep">
		<span class="author vcard"><a class="fn" href="https://www.mtyyw.com/author/admin/" title="View all posts by 林中有鬼" rel="author">林中有鬼</a></span>
		</span>
		
			
		<span class="meta-comments sep">
			<a href="https://www.mtyyw.com/24567/#respond">评论</a>
		</span>
<span class="meta-comments sep">
1次
</span>
		
		
	</div>
		
				
		<div class="entry clearfix">
			<blockquote><p>我不知道是什么引导我，于是往回看， 越过如此的深渊。——安娜·阿赫玛托娃《没有英雄的叙事诗》</p></blockquote>
<p><img class="alignnone size-full wp-image-24594" src="static/picture/733374255770777.jpg" width="400" height="400" srcset="https://www.mtyyw.com/wp-content/uploads/2020/10/733374255770777.jpg 400w, https://www.mtyyw.com/wp-content/uploads/2020/10/733374255770777-150x150.jpg 150w, https://www.mtyyw.com/wp-content/uploads/2020/10/733374255770777-90x90.jpg 90w, https://www.mtyyw.com/wp-content/uploads/2020/10/733374255770777-75x75.jpg 75w" sizes="(max-width: 400px) 100vw, 400px" /><br />
曲名：Flying Condor<br />
歌手：Alborada Del Inka<br />
所属专辑：Alborada Del Inka<br />
发行年代：2006<br />
风格：印第安音乐，世界音乐<br />
介绍：Alborada Del Inka，这是一支秘鲁乐队，演奏印第安部落风格的音乐。他们的音乐中充满了纯正的印第安长笛和鼓。“Alborada Del Inka”的中文意思是“印加黎明”。<span id="more-24567"></span><br />
<script>var playlist = []</script></p>
<div id="nm_jplayer" style="display:none"></div>
<div id="nm-player-0" class="nmsingle-container">
<div class="nmsingle-cover" style="background-image:url(static/images/733374255770777.jpg)"><span class="nms-play-btn fxfont nm-play" data-index=0></span></div>
<div class="nmsingle-info">
<div class="nmplayer-top"><span class="nmplayer-title">Flying Condor - Alborada Del Inka</span><span class="nmsingle-playtime"><span class="current-time">--:--</span> / <span class="duration">05:13</span></span></div>
<div class="nmplayer-mid">
<div class="nmplayer-control" data-index=0><span class="fxfont nm-previous"></span><span class="fxfont nm-next"></span><span class="nm-mute fxfont"></span></div>
<div class="nmsingle-lrc">(*+﹏+*)</div>
</div>
<div class="nmsingle-process" data-index="0">
<div class="nmsingle-process-bar"></div>
</div>
</div>
</div>
<p><script>playlist.push([{"id":"3934981","title":"Flying Condor","artist":"Alborada Del Inka","mp3":"https:\/\/music.163.com\/song\/media\/outer\/url?id=3934981.mp3","cover":"https:\/\/p2.music.126.net\/-vSpHPJUU-xUCq74W600Og==\/733374255770777.jpg","duration":313.693,"lrc":""}]);</script></p>
<div style="width: 760px" class="wp-caption alignnone"><a href="https://www.nbfox.com/autumn-banks-of-the-seine-near-bougival/" target="_blank" rel="noopener noreferrer"><img src="static/picture/zhksy6.jpg@water750.jpg" alt="Autumn Banks of the Seine near Bougival | 阿尔弗莱德·西斯莱" width="750" height="562" /></a><p class="wp-caption-text"><a href="https://www.nbfox.com/autumn-banks-of-the-seine-near-bougival/" target="_blank" rel="noopener noreferrer">Autumn Banks of the Seine near Bougival | 阿尔弗莱德·西斯莱</a></p></div>
<h4 class="wxqq-color wxqq-gaoqborderLeftColor" style="margin: 5px 0px 13px; padding: 0px 10px; border-width: 0px 0px 0px 5px; border-left-style: solid; border-left-color: #5ca060; font-size: 16px; color: #5ca060; line-height: 25px; font-family: 微软雅黑;">什么能从我们身上脱落</h4>
<p><span style="color: #808080;">文/冯至</span></p>
<p>什么能从我们身上脱落，<br />
我们都让它化作尘埃：<br />
我们安排我们在这时代<br />
像秋日的树木，一棵棵</p>
<p>把树叶和些过迟的花朵<br />
都交给秋风，好舒开树身<br />
伸入严冬；我们安排我们<br />
在自然里，像蜕化的蝉蛾</p>
<p>把残壳都丢在泥里土里；<br />
我们把我们安排给那个<br />
未来的死亡，像一段歌曲，</p>
<p>歌声从音乐的身上脱落，<br />
归终剩下了音乐的身躯<br />
化作一脉的青山默默。</p>
<hr />
<p><span style="color: #339966;"><strong>关于</strong></span></p>
<p><span style="color: #808080;">冯至的《十四行集》收有十四行诗二十七首，1941——1942 年间作于昆明。这里选的是其中的第二首。</span></p>
<p><span style="color: #808080;">这时的冯至，早年的苦闷和忧伤虽不曾被光阴完全剥蚀，但似乎流入了记忆的深处。诗人近不惑之年，感情变得深沉了。他的精神触角伸入天地间遨游，领悟宇宙万物的本质和变化，探求人生奥秘的哲理性，把思考的结晶融入十四行体诗内，诗风完成了从早期的抒情哲理化到这一时期的哲理抒情化的转化。</span></p>
<p><span style="color: #808080;">这首诗涉及到生死和时间观念。曾经深刻影响过冯至的里尔克说过：“不能计算时间，年月都无效，就是十年有时也等于虚无。艺术家是：不算，不数；象树木似地成熟，不勉强挤它的汁液，勇敢地立在春日的暴风雨中，也不怕后边没有夏天来到。”（《给青年诗人的十封信》）</span></p>
<p><span style="color: #808080;">此诗简直就是里尔克的这一生命体验的延续和深入，甚至于象征人生的“树木”，也被冯至作为主干意象之一，移栽进了诗行：“我们安排我们在这时代/像秋日的树木，一棵棵”。冯至的创造在于，他隐去了人生的春和夏的出场（反以“树叶”和“过迟的花朵”稍稍透露了这一信息），诗一开始就从秋入手，一直写到冬。冯至将生命的奉献和抗争作为诗的背景材料，他着意刻画的是人生的秋天和冬天，是对这一段生命历程的深刻体验。诗人从宽厚的肩上抖落收获季节，让它沉入大地，去滋补新的生命。</span></p>

			<div class="wbp-cbm"><a class="wb-btn-dwqr wb-btn-like j-dwqr-like-btn" data-count="0"><svg class="wb-icon wbsico-like"><use xlink:href="#wbsico-dwqr-like"></use></svg><span class="like-count">赞</span></a><a class="wb-btn-dwqr wb-btn-share j-dwqr-social-btn"><svg class="wb-icon wbsico-share"><use xlink:href="#wbsico-dwqr-share"></use></svg><span>分享</span></a></div>			<a href="https://www.mtyyw.com/go/akg-s8-post/"><img class="attachment-full " src="static/picture/akg-s8-98.jpg" alt="三星手机AKG耳机" width="700" height="246" /></a>
			<div class="page-links"></div>			
		</div>	
		<div class="postinfo clearfix">			<span class="meta-tags">
				标签： <a href="https://www.mtyyw.com/tag/alborada-del-inka/" rel="tag">Alborada Del Inka</a>, <a href="https://www.mtyyw.com/tag/%e4%b8%96%e7%95%8c%e9%9f%b3%e4%b9%90/" rel="tag">世界音乐</a>, <a href="https://www.mtyyw.com/tag/%e5%8d%b0%e7%ac%ac%e5%ae%89%e9%9f%b3%e4%b9%90/" rel="tag">印第安音乐</a>			</span>
	
		<span class="meta-category">
			<ul class="post-categories">
	<li><a href="https://www.mtyyw.com/feizhuliuyinyue/" rel="category tag">小众音乐</a></li>
	<li><a href="https://www.mtyyw.com/qingyinyue/" rel="category tag">轻音乐</a></li></ul>		</span>

	</div>
	</article>			
		


	<div id="comments">
	
		
						<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">发表评论 <small><a rel="nofollow" id="cancel-comment-reply-link" href="/24567/#respond" style="display:none;">取消回复</a></small></h3><form action="https://www.mtyyw.com/wp-comments-post.php" method="post" id="commentform" class="comment-form"><p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注</p><p class="comment-form-comment"><label for="comment">评论</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">姓名 <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
<p class="comment-form-email"><label for="email">电子邮件 <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="发表评论" /> <input type='hidden' name='comment_post_ID' value='24567' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="086480282b" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="73"/></p></form>	</div><!-- #respond -->
			
	</div>

		
		</section>
		
			<section id="sidebar" class="secondary clearfix" role="complementary">

		<aside id="nav_menu-6" class="widget widget_nav_menu clearfix"><h3 class="widgettitle"><span>音乐推荐</span></h3><div class="menu-%e9%9f%b3%e4%b9%90%e6%8e%a8%e8%8d%90-container"><ul id="menu-%e9%9f%b3%e4%b9%90%e6%8e%a8%e8%8d%90" class="menu"><li id="menu-item-20981" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20981"><a href="https://www.mtyyw.com/9452/">李志所有音乐专辑下载</a></li>
<li id="menu-item-20982" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20982"><a href="https://www.mtyyw.com/20082/">可能否 – 木小雅</a></li>
<li id="menu-item-20983" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20983"><a href="https://www.mtyyw.com/19445/">往后余生 &#8211; 王贰浪</a></li>
</ul></div></aside><aside id="search-8" class="widget widget_search clearfix"><h3 class="widgettitle"><span>搜索</span></h3>
	<form role="search" method="get" class="search-form" action="https://www.mtyyw.com/">
		<label>
			<span class="screen-reader-text">Search for:</span>
			<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s">
		</label>
		<button type="submit" class="search-submit">
			<span class="genericon-search"></span>
		</button>
	</form>

</aside><aside id="text-8" class="widget widget_text clearfix"><h3 class="widgettitle"><span>梵高的向日葵T恤</span></h3>			<div class="textwidget"><a href="https://www.mtyyw.com/24106/" rel="nofollow noopener noreferrer" target="_blank"><img src="static/picture/xiangrikui-2020.jpg" alt="梵高的向日葵T恤" width="400" height="400" class="alignnone size-full wp-image-11045" /></a></div>
		</aside>		<aside id="recent-posts-4" class="widget widget_recent_entries clearfix">		<h3 class="widgettitle"><span>近期文章</span></h3>		<ul>
											<li>
					<a href="https://www.mtyyw.com/24567/" aria-current="page">从我们身上脱落的，都交给秋风吧</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24586/">无论你多么爱她，人是会渐渐忘却那久未见面的面孔的</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24589/">女士，哭泣在十字路口，你已经尽力了</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24584/">没有人能够拿走任何东西</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24553/">深秋独步</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24579/">要允许痛苦不请自来</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24573/">苍茫时刻</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24569/">这温暖的光，都是你给我的啊</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24563/">我们听着狂风里的暴雨</a>
									</li>
											<li>
					<a href="https://www.mtyyw.com/24561/">长时间沉默以后讲话了</a>
									</li>
					</ul>
		</aside>
	</section>
	</div>
	
				
		<div id="footer-widgets-bg">
		
			<div id="footer-widgets-wrap" class="container">
			
				<div id="footer-widgets" class="clearfix">
				
					<div class="footer-widgets-left">
					
						<div class="footer-widget-column">
							<aside id="custom_html-4" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>公众号「麦音乐」</span></h3><div class="textwidget custom-html-widget"><img src="static/picture/625a192fgw1evyqx1cu8ej2076076mxm.jpg" alt="麦音乐微信公众号" width="220" height="220" class="alignnone size-full wp-image-11032" /></div></aside>						</div>
						<div class="footer-widget-column">
							<aside id="custom_html-3" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>关于本站</span></h3><div class="textwidget custom-html-widget">麦田音乐网建于2006年，是一个简单纯粹的音乐、文字分享网站。<br />
在浮躁、喧嚣的互联网中，希望你能在这里静下来。<br />
站长微信:linfox <br />
<a href="https://www.weibo.com/mtyyw/">新浪微博→</a>
</div></aside>						</div>
						
					</div>
					
					<div class="footer-widgets-left">				
						
						<div class="footer-widget-column">
							<aside id="nav_menu-4" class="widget widget_nav_menu"><h3 class="widgettitle"><span>热门主题</span></h3><div class="menu-%e7%83%ad%e9%97%a8%e4%b8%bb%e9%a2%98-container"><ul id="menu-%e7%83%ad%e9%97%a8%e4%b8%bb%e9%a2%98" class="menu"><li id="menu-item-20978" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20978"><a href="https://www.mtyyw.com/9452/">李志所有音乐专辑下载</a></li>
<li id="menu-item-13839" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13839"><a href="https://www.mtyyw.com/13600/">《Faded》当神电音遇上空灵女声</a></li>
<li id="menu-item-11094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11094"><a href="https://www.mtyyw.com/8911/">十大气势背景音乐</a></li>
<li id="menu-item-13256" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13256"><a href="https://www.mtyyw.com/13248/">抖腿神曲，停不下来的节奏</a></li>
<li id="menu-item-11095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11095"><a href="https://www.mtyyw.com/353/">魔曲《黑色星期天》</a></li>
<li id="menu-item-11352" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11352"><a href="https://www.mtyyw.com/12949/">世界上最动听的歌-新世纪音乐</a></li>
<li id="menu-item-13212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13212"><a href="https://www.mtyyw.com/tag/music-stroy/">有故事的歌</a></li>
</ul></div></aside>						</div>
						<div class="footer-widget-column">
							<aside id="custom_html-5" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>网友活动</span></h3><div class="textwidget custom-html-widget">“麦游记”是一个漂流本活动，国内外的网友在笔记本上记录自己的生活和心情，然后传递给下一个人 。<br />
除了碎片化的微博和朋友圈，也许你需要给无处安放的心情和文字找一个地方。<a href="https://www.mtyyw.com/tag/maiyouji/">点击查看</a></div></aside>						</div>
						
					</div>
					
				</div>
				
			</div>
		
		</div>
		
	
	<div id="footer-wrap">
	
		<footer id="footer" class="container clearfix" role="contentinfo">
			
			<nav id="footernav" class="clearfix" role="navigation">
				<ul id="footernav-menu" class="menu"><li id="menu-item-11063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11063"><a href="https://www.mtyyw.com/links/">友情链接</a></li>
<li id="menu-item-20104" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20104"><a href="https://www.nbfox.com">世界名画</a></li>
</ul>				<h4 id="footernav-icon"></h4>
			</nav>
			
			<div id="footer-text">
				Made With Love By 老鬼			</div>
			
		</footer>
		
	</div>

</div><!-- end #wrapper -->

<link data-minify="1" rel='stylesheet' id='wbui-css-css'  href='static/css/wbui-7028d83715cd2e25957538227799bdbe.css' type='text/css' media='all' />
<link data-minify="1" rel='stylesheet' id='wbs-dwqr-css-css'  href='static/css/wbp_donate-e8d9910a26ff8b533fdf1afbd413de39.css' type='text/css' media='all' />
<link rel='stylesheet' id='nms-css'  href='static/css/single.min-3.2.1.css' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var viewsCacheL10n = {"admin_ajax_url":"https:\/\/www.mtyyw.com\/wp-admin\/admin-ajax.php","post_id":"24567"};
/* ]]> */
</script>
<script data-minify="1" type='text/javascript' src='static/js/postviews-cache-517d2055a857bfc2d99dc1c986108176.js' defer></script>
<script data-minify="1" type='text/javascript' src='static/js/wbui-3ec0b51fb94299a19edbfbaa431a57e8.js' defer></script>
<script type='text/javascript'>
var dwqr_opt="1.3.5|https%3A%2F%2Fwww.mtyyw.com%2Fwp-content%2Fplugins%2Fdonate-with-qrcode%2F|0|https%3A%2F%2Fwww.mtyyw.com%2Fwp-admin%2Fadmin-ajax.php|24567";
var wb_dwqr_share_html='<div class="wb-share-list" data-cover="https://www.mtyyw.com/wp-content/uploads/2020/10/733374255770777.jpg"><a class="share-logo icon-weixin" data-cmd="weixin" title="分享到微信" rel="nofollow"><svg class="wb-icon wbsico-dwqr-weixin"><use xlink:href="#wbsico-dwqr-weixin"></use></svg></a><a class="share-logo icon-weibo" data-cmd="weibo" title="分享到微博" rel="nofollow"><svg class="wb-icon wbsico-dwqr-weibo"><use xlink:href="#wbsico-dwqr-weibo"></use></svg></a><a class="share-logo icon-qzone" data-cmd="qzone" title="分享到QQ空间" rel="nofollow"><svg class="wb-icon wbsico-dwqr-qzone"><use xlink:href="#wbsico-dwqr-qzone"></use></svg></a><a class="share-logo icon-qq" data-cmd="qq" title="分享到QQ" rel="nofollow"><svg class="wb-icon wbsico-dwqr-qq"><use xlink:href="#wbsico-dwqr-qq"></use></svg></a>';
</script>
<script data-minify="1" type='text/javascript' src='static/js/wbp_front-808ca6daf143e89e114664bf0a13e61d.js' defer></script>
<script type='text/javascript' src='static/js/qrcode.min-1.3.5.js' defer></script>
<script type='text/javascript'>
/* <![CDATA[ */
var nm_ajax_url = {"ajax_url":"https:\/\/www.mtyyw.com\/wp-admin\/admin-ajax.php","swfurl":"https:\/\/www.mtyyw.com\/wp-content\/plugins\/netease-music\/build\/js\/jquery.jplayer.swf","nonce":"30b338e040","tworow":"","token":"https:\/\/fatesinger.com\/74369","message":"\u6587\u4ef6\u635f\u574f\uff0c\u8bf7\u68c0\u67e5\u63d2\u4ef6\u7684\u5b8c\u6574\u6027\u3002"};
/* ]]> */
</script>
<script type='text/javascript' src='static/js/base.min-3.2.1.js' defer></script>
<script type='text/javascript' src='static/js/single.min-3.2.1.js' defer></script>
<script type='text/javascript' src='static/js/comment-reply.min.js' defer></script>
<script data-minify="1" async="async" type='text/javascript' src='static/js/form-c9aa720fbd3799286f50c8e7a5f9151c.js'></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>       
<!-- 10 queries in 0.451 seconds.  -->
</body>
</html>	
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1603967202 -->