			
	<div id="footer-widgets-bg">
		
        <div id="footer-widgets-wrap" class="container">
        
            <div id="footer-widgets" class="clearfix">
            
                <div class="footer-widgets-left">
                
                    <div class="footer-widget-column">
                        <aside id="custom_html-4" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>公众号「麦音乐」</span></h3><div class="textwidget custom-html-widget"><img src="static/picture/625a192fgw1evyqx1cu8ej2076076mxm.jpg" alt="麦音乐微信公众号" width="220" height="220" class="alignnone size-full wp-image-11032" /></div></aside>						</div>
                    <div class="footer-widget-column">
                        <aside id="custom_html-3" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>关于本站</span></h3><div class="textwidget custom-html-widget">麦田音乐网建于2006年，是一个简单纯粹的音乐、文字分享网站。<br />
在浮躁、喧嚣的互联网中，希望你能在这里静下来。<br />
站长微信:linfox <br />
<a href="https://www.weibo.com/mtyyw/">新浪微博→</a>
</div></aside>						</div>
                    
                </div>
                
                <div class="footer-widgets-left">				
                    
                    <div class="footer-widget-column">
                        <aside id="nav_menu-4" class="widget widget_nav_menu"><h3 class="widgettitle"><span>热门主题</span></h3><div class="menu-%e7%83%ad%e9%97%a8%e4%b8%bb%e9%a2%98-container"><ul id="menu-%e7%83%ad%e9%97%a8%e4%b8%bb%e9%a2%98" class="menu"><li id="menu-item-20978" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20978"><a href="https://www.mtyyw.com/9452/">李志所有音乐专辑下载</a></li>
<li id="menu-item-13839" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13839"><a href="https://www.mtyyw.com/13600/">《Faded》当神电音遇上空灵女声</a></li>
<li id="menu-item-11094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11094"><a href="https://www.mtyyw.com/8911/">十大气势背景音乐</a></li>
<li id="menu-item-13256" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13256"><a href="https://www.mtyyw.com/13248/">抖腿神曲，停不下来的节奏</a></li>
<li id="menu-item-11095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11095"><a href="https://www.mtyyw.com/353/">魔曲《黑色星期天》</a></li>
<li id="menu-item-11352" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11352"><a href="https://www.mtyyw.com/12949/">世界上最动听的歌-新世纪音乐</a></li>
<li id="menu-item-13212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13212"><a href="https://www.mtyyw.com/tag/music-stroy/">有故事的歌</a></li>
</ul></div></aside>						</div>
                    <div class="footer-widget-column">
                        <aside id="custom_html-5" class="widget_text widget widget_custom_html"><h3 class="widgettitle"><span>网友活动</span></h3><div class="textwidget custom-html-widget">“麦游记”是一个漂流本活动，国内外的网友在笔记本上记录自己的生活和心情，然后传递给下一个人 。<br />
除了碎片化的微博和朋友圈，也许你需要给无处安放的心情和文字找一个地方。<a href="https://www.mtyyw.com/tag/maiyouji/">点击查看</a></div></aside>						</div>
                    
                </div>
                
            </div>
            
        </div>
    
</div>
    

<div id="footer-wrap">

    <footer id="footer" class="container clearfix" role="contentinfo">
        
        <nav id="footernav" class="clearfix" role="navigation">
            <ul id="footernav-menu" class="menu"><li id="menu-item-11063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11063"><a href="https://www.mtyyw.com/links/">友情链接</a></li>
<li id="menu-item-20104" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20104"><a href="https://www.nbfox.com">世界名画</a></li>
</ul>				<h4 id="footernav-icon"></h4>
        </nav>
        
        <div id="footer-text">
            Made With Love By 老鬼			</div>
        
    </footer>
    
</div>

</div><!-- end #wrapper -->

<script>
(function(){
var bp = document.createElement('script');
var curProtocol = window.location.protocol.split(':')[0];
if (curProtocol === 'https') {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
}
else {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
}
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(bp, s);
})();
</script>       
<!-- 8 queries in 0.445 seconds.  -->
</body>
</html>	
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1604042367 -->
